.comment-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline: clamp(3px, 2px + 5vw, 30px);
  padding-block: 20px;
  border: 2px solid rgba(128, 128, 128, 0.2);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  min-width: 300px;
  max-width: 500px;
  height: fit-content;
}
.comment-body .comment-body__profile-body {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.comment-body .comment-body__profile-body .image-wrapper {
  position: relative;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  inline-size: clamp(30px, 30px + 10vw, 60px);
  block-size: clamp(10px, 30px + 10vw, 60px);
  aspect-ratio: 1;
  overflow: clip;
  background-color: rgba(145, 145, 145, 0.1);
}
.comment-body .comment-body__profile-body .image-wrapper svg {
  position: absolute;
  top: 45%;
  left: 3%;
  scale: 3.3;
  width: 100%;
  height: 100%;
}
.comment-body .comment-body__profile-body .image-wrapper svg path {
  fill: rgba(104, 16, 16, 0.9);
}
.comment-body .comment-body__profile-body .profile-info {
  padding-top: 0;
  text-align: left;
  line-height: 0.8rem;
  border-radius: 30px;
}
.comment-body .comment-body__profile-body .profile-info .profile-info__name-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.5rem;
}
.comment-body .comment-body__profile-body .profile-info .profile-info__name-box .profile-info__name {
  font-size: clamp(0.8rem, 0.8rem + 2vw, 1.5rem);
}
.comment-body .comment-body__profile-body .profile-info .profile-info__name-box svg {
  margin-left: 10px;
  width: clamp(0.8rem, 0.8rem + 2vw, 1.4rem);
  height: clamp(0.8rem, 0.8rem + 2vw, 1.4rem);
}
.comment-body .comment-body__profile-body .profile-info .profile-info__username-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  opacity: 0.5;
}
.comment-body .comment-body__profile-body .profile-info .profile-info__username-box .profile-info__username {
  margin-block: 0;
  margin-right: 5px;
  font-size: clamp(0.8rem, 0.8rem + 2vw, 1.3rem);
}
.comment-body .comment-body__profile-body .profile-info .profile-info__username-box .copy-button {
  scale: 0.9;
}
.comment-body .comment-body__content {
  position: relative;
  padding-top: 20px;
  opacity: 0.75;
}
.comment-body .comment-body__content::before {
  position: absolute;
  left: 50%;
  top: 0%;
  translate: -50% 0%;
  margin-top: 20px;
  content: "";
  width: 90%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.comment-body .comment-body__content pre {
  font-size: clamp(0.5rem, 0.5rem + 2vw, 1.3rem);
  text-wrap: balance;
}
.comment-body .comment-body__actions {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  margin-top: auto;
  margin-bottom: 5px;
  margin-left: 10px;
  opacity: 0.5;
}
.comment-body .comment-body__actions svg {
  height: 1.725rem;
  width: 1.725rem;
  cursor: pointer;
  transition: all 0.2s ease;
}
.comment-body .comment-body__actions .like-svg {
  fill: black;
  scale: 0.8;
}
.comment-body .comment-body__actions .like-svg.toggled {
  fill: red;
}
.comment-body .comment-body__actions .share-svg {
  fill: black;
}
.comment-body .comment-body__actions .share-svg:active {
  transition: fill step-start;
  fill: #01afff;
}
.comment-body .comment-body__actions .share-svg:not(:active) {
  transition: fill 3s ease;
}

/*# sourceMappingURL=comment.css.map */
