@import '_default.scss';

.copy-button {
    height: 30px;
    width: 30px;
    border-radius: 5px;

    &:hover {
        transform: translate(1px, -1.5px);
        cursor: pointer;
        .main-rect {
            stroke: rgba(0, 128, 0, 0.9);
        }
    }
    &:active {
        .main-rect {
            fill: rgba(65, 227, 65, 0.3);
        }
        scale: 1.1 1.1;
    }
    &:not(:active) {
        .main-rect {
            transition: fill 1.5s ease, stroke 0.5s ease;
        }
        transition: all 0.6s ease;
    }
    path {
        stroke: rgba(0, 0, 0, 0.6);
    }
    .main-rect {
        stroke: rgba(0, 0, 0, 0.7);
        fill: transparent;
    }
}